{% extends 'bar.html' %}

{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title>Yout YouTube Links</title>
<style>
table { 
    width:100%;
}
th, td {
    padding: 3px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color:#fff;
}
</style>
</head>
<body>
<div class="container">
<p>Here are Your YouTube links, enjoy!<br>Please write down your url or change it, because if You lose cookies, you will lose access to your favourite links.</p> 
<form action="" method="POST">
{% crispy form %}
</form>
</div><br>
{% if messages %}
<div class="container">
    {% for message in messages %}
    <p{% if message.tags %} align="center" class="alert alert-{{ message.tags }}"{% endif %}><font color="red"><strong>{{ message }}</strong></font><p>
    {% endfor %}
</div>
{% endif %}
<div class="container">
<table>
  {% for i in object_list %}
  <tr>
     <td>{{ forloop.counter }}</td>
     <td><img src="{{ i.img }}" height="90" width="120"></td>
     <td><a href="{{ i.link }}" target="_blank">{{ i.gen_name }}</a></td>
     <td>
	<a href="{% url 'delete' video_id=i.video_id gen_hash=owner.gen_hash %}" class="btn btn-danger" role="button">delete</a> 
     </td>
  </tr>
  {% empty %}
  <td colspan="4"><h3>You don't have any YouTube links. Add some!<h3></td>
  {% endfor %}
</table>
</div>
{% endblock %}
